<table>
  <tr *ngFor="let mRow of game.minefield; let r = index">
    <td *ngFor="let square of mRow; let c = index">
      <div (mousedown)="game.squareClicked($event, r, c)" (contextmenu)="false"
          [ngClass]="game.minefield[r][c].cssClasses" [style.color]="game.minefield[r][c].getColor()">
        <span *ngIf="game.minefield[r][c].revealed && !game.minefield[r][c].isMine">
          {{ game.minefield[r][c].neighboringMines }}
        </span>
        <span *ngIf="game.minefield[r][c].revealed && game.minefield[r][c].isMine">
          <i class="fa fa-bomb"></i>
        </span>
        <span *ngIf="!game.minefield[r][c].revealed && game.minefield[r][c].flagged">
          <i class="fa fa-flag"></i>
        </span>
      </div>
    </td>
  </tr>
</table>