<div class="game-container-wrapper">
  
  <button (click)="op.toggle($event)">Settings</button>
  <button (click)="game.newGame()">New Game</button>
  <p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true">
    <form [formGroup]="settingsForm" (ngSubmit)="settingsChangeConfirmed(); op.hide();">
      <table>
        <tr>
          <td></td>
          <td>Height</td>
          <td>Width</td>
          <td>Mines</td>
        </tr>
        <tr>
          <td><label><input type="radio" name="difficulty" [value]="game.difficultyEnum.Beginner" formControlName="difficulty">Beginner</label></td>
          <td>{{ game.beginnerHeight }}</td>
          <td>{{ game.beginnerWidth }}</td>
          <td>{{ game.beginnerMines }}</td>
        </tr>
        <tr>
          <td><label><input type="radio" name="difficulty" [value]="game.difficultyEnum.Intermediate" formControlName="difficulty">Intermediate</label> </td>
          <td>{{ game.intermediateHeight }}</td>
          <td>{{ game.intermediateWidth }}</td>
          <td>{{ game.intermediateMines }}</td>
        </tr>
        <tr>
          <td><label><input type="radio" name="difficulty" [value]="game.difficultyEnum.Expert" formControlName="difficulty">Expert</label></td>
          <td>{{ game.expertHeight }}</td>
          <td>{{ game.expertWidth }}</td>
          <td>{{ game.expertMines }}</td>
        </tr>
        <tr>
          <td><label><input type="radio" name="difficulty" [value]="game.difficultyEnum.Custom" formControlName="difficulty">Custom</label></td>
          <td><input type="text" (click)="$event.target.select()" formControlName="customHeight" [value]="game.customHeight"></td>
          <td><input type="text" (click)="$event.target.select()" formControlName="customWidth" [value]="game.customWidth"></td>
          <td><input type="text" (click)="$event.target.select()" formControlName="customMines" [value]="game.customMines"></td>
        </tr>
      </table>
      <input type="submit" value="New Game">
    </form>
  </p-overlayPanel>

  <minefield></minefield>

  <div class="game-info">
    <div>Remaining safe squares: {{ game.remainingSafeSquares }}</div>
  </div>

</div>