<div class="game-container-wrapper">
  
  <button (click)="op.toggle($event)">Settings</button>
  <button (click)="newGame()">New Game</button>
  <p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true">
    <form [formGroup]="settingsForm" (ngSubmit)="newGame(settingsForm.value); op.hide();">
      <table>
        <tr>
          <td></td>
          <td>Height</td>
          <td>Width</td>
          <td>Mines</td>
        </tr>
        <tr>
          <td><label><input type="radio" name="difficulty" [value]="difficultyEnum.Beginner" formControlName="difficulty">Beginner</label></td>
          <td>{{ beginnerHeight }}</td>
          <td>{{ beginnerWidth }}</td>
          <td>{{ beginnerMines }}</td>
        </tr>
        <tr>
          <td><label><input type="radio" name="difficulty" [value]="difficultyEnum.Intermediate" formControlName="difficulty">Intermediate</label> </td>
          <td>{{ intermediateHeight }}</td>
          <td>{{ intermediateWidth }}</td>
          <td>{{ intermediateMines }}</td>
        </tr>
        <tr>
          <td><label><input type="radio" name="difficulty" [value]="difficultyEnum.Expert" formControlName="difficulty">Expert</label></td>
          <td>{{ expertHeight }}</td>
          <td>{{ expertWidth }}</td>
          <td>{{ expertMines }}</td>
        </tr>
        <tr>
          <td><label><input type="radio" name="difficulty" [value]="difficultyEnum.Custom" formControlName="difficulty">Custom</label></td>
          <td><input type="text" (click)="$event.target.select()" formControlName="customHeight"></td>
          <td><input type="text" (click)="$event.target.select()" formControlName="customWidth"></td>
          <td><input type="text" (click)="$event.target.select()" formControlName="customMines"></td>
        </tr>
      </table>
      <input type="submit" value="New Game">
    </form>
  </p-overlayPanel>

  <minefield></minefield>

  <div class="game-info">
    <div>Remaining safe squares: {{ minefield.remainingSafeSquares }}</div>
  </div>

</div>